@page "/Checkout"
@inherits CheckoutBase
<div class="img_2">

    <img src="/Images/BannerIMG/banner_mercedes.jpg" width="100%" height="100%">

</div>
<h3 style="color: papayawhip; text-align: center; margin-top: 150px; margin-bottom: 100px; font-family: 'Exo 2'">Оплата</h3>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-6" style="display:@DisplayButtons" >
        <h4 style="color: papayawhip; text-align: center; font-family: 'Exo 2'" ; class="mb-2">Cпосiб оплати</h4>
        <div id="smart-button-container">
            <input type="hidden" name="descriptionInput" id="description" @bind="PaymentDescription" />
            <input name="amountInput" type="hidden" id="amount" @bind="PaymentAmount">
            <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
        </div>
    </div>
@if (ShoppingCartItems == null)
{
        <DisplaySpinner/>
    }
    else
    {

        <div class="col-md-6">
            <h4 style="color: papayawhip; font-family: 'Exo 2'" ; class="mb-2">Всього до сплати</h4>
            @if (ShoppingCartItems.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th style="color: papayawhip; font-family: 'Exo 2'">Деталь</th>
                            <th style="color: papayawhip; font-family: 'Exo 2'">Вартiсть</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in ShoppingCartItems)
                        {
                            <tr>
                                <td style="color: #8d949c; font-family: 'Exo 2'; font-style: italic; font-weight: 300;">@item.Qty x @item.ProductName</td>
                                <td style="color: #85bb65; font-family: 'Exo 2'; font-style: italic; font-weight: 300;">@item.TotalPrice.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-us"))</td>
                            </tr>
                        }
                        <tr>
                            <td><b style="color: papayawhip; font-family: 'Exo 2'">Всього</b></td>
                            <td><b style="color: #85bb65; font-family: 'Exo 2'">@PaymentAmount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-us"))</b></td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>Кошик порожнiй</p>
            }
        </div>
}
</div>