@page "/"

<video src="/Images/BannerIMG/video.mp4" autoplay muted loop width="100%" height="100%"> </video>

<div>
    @*<p style=" display: flex; font-size: 50px; justify-content: center; color: white;margin-top: 200px; margin-bottom: 100px; ">Ronaldo Performance</p>*@
    <h2><span style=" display: flex; font-size: 50px; justify-content: center; color: white;margin-top: 200px; margin-bottom: 100px; ">Ronaldo Performance</span></h2>
</div>


<hr class="featurette-divider">

<div class="row featurette" style="margin-left: 2%">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="margin-top: 25%; text-align: center">VENOM Porsche 992 2023</h2>
        <p class="lead" style="text-align: center; color: #8d949c">Комплект VENOM 992 міститить понад 30 унікальних карбонових елементів найвищої якості, зберігаючи при цьому всю функціональність цієї моделі.</p>
    </div>
    <div class="col-md-5">
        <img style=" border-radius: 7%;" src="/Images/HomeIMG/home_porsche.jpg" width="500" height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" style="margin-left: 2%">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1" style="margin-top: 25%; text-align: center">BODYKIT для Lamborghini Urus</h2>
        <p class="lead" style="text-align: center; color: #8d949c">
            Аеродинамічний обвіс складається з 42 деталей.
            <br>Основними і технологічно складними елементами є: капот, задній бампер з дифузором, передній бампер і великий обвіс із заміною передніх крил.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img style=" border-radius: 7%;" src="/Images/HomeIMG/home_urus.jpg" width="500" height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div >
        <h2 class="featurette-heading fw-normal lh-1" style="text-align: center">Про нас</h2>
        <p class="lead" style="text-align: center; color: #8d949c">
            <br>Ronaldo Performance є однією зі світових компаній у сфері рестайлінгу (тюнінгу) автомобілів Преміум та Люкс класу.

            <br>Компанія Ronaldo Performance почала свій шлях у багатогранний світ творчості - дизайну та технологій авто-індустрії з 2019 року.

            <br>Наша команда створює одні з найсміливіших проектів, які стають невід'ємною частиною світу авто-тюнінг індустрії.

            <br>Індивідуальний підхід до дизайну, в поєднанні з сучасними технологіями - створюють унікальний стиль Ronaldo Performance.

        </p>
    </div>
</div>
