.row2 hr {
    margin: 5rem auto;
    color: papayawhip;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    width: 75%;
}



@media (max-width: 1300px) {
    .log {
        padding-inline: 100px !important;
    }
}

@media (max-width: 768px) {
    .log {
        padding-inline: 20px !important;
    }
    h3 {
        font-size: 40px !important;
    }
}

