@page "/ProductsByCategory/{CategoryId:int}"
@inherits ProductsByCategoryBase

@if(Products == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage = "@ErrorMessage" />
}
else
{
    @if (CategoryId == 2)
    {
        
    <div class="img_2">

            <img src="/Images/BannerIMG/banner_bmw_side.jpg" width="100%" height="100%">
                                                                  
        </div>                                                    
    }
    else
    {

        <div class="img_2">
            <img src="/Images/BannerIMG/banner_cadillac.jpg" width="100%" height="100%">
        </div>
        
    }

    <h3 style="text-align: center; color: papayawhip; margin-top: 150px; margin-bottom: 100px;">@CategoryName </h3>
    <hr class="featurette-divider">

    @if(Products.Count() > 0)
    {
        <div class = "row mt-3">
          <DisplayProducts Products = "@Products"></DisplayProducts>
        </div>
    }

}