@inherits LayoutComponentBase

<div class="page">

    <header>
       
            <div class="navbar">
                <NavMenu/>
           
            </div>

    </header>

    <main>

        @Body
       
        <div class="footer">
            <Footer/>
        </div>

    </main>
</div>