a {
    text-decoration: none;
    
}

a:hover .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    .page header {
        position: absolute;
        background-color: transparent;
    }

header {
    height: 70px;
    width: 100%;
}

.navbar {
    top: 0;
    margin: auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: relative;
}

.card {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    border: 1px solid #101215;
    background-color: transparent;
    height: 100%;
    
}

a:hover img {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

img {
    transition: 0.5s ease-in-out;
    padding: 0;
    border: 0;
}

.card-body {
    background-color: #14161A;
}
