@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Components.Web

@page "/en/"

<header>

    <div class="navbar">
        <NavMenuEn />

    </div>

</header>

<video src="/Images/BannerIMG/video.mp4" autoplay muted loop width="100%" height="100%"> </video>

<div>
    <p id="title" style=" display: flex; font-size: 50px; justify-content: center; color: papayawhip;margin-top: 200px; margin-bottom: 100px; font-family: 'Exo 2'">Ronaldo Performance</p>
</div>



<hr class="featurette-divider">

<div class="row featurette" style="margin-left: 2%">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="margin-top: 25%; text-align: center; font-family: 'Exo 2'">VENOM Porsche 992 2023</h2>
        <p class="lead" style="text-align: center; color: #8d949c; font-family: 'Exo 2'; font-style: italic; font-weight: 300;">The VENOM 992 kit contains more than 30 unique carbon elements of the highest quality, while retaining all the functionality of this model.</p>
    </div>
    <div class="col-md-5">
        <img style=" border-radius: 7%;" src="/Images/HomeIMG/home_porsche.jpg" width="100%" height="100%">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" style="margin-left: 2%">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1" style="margin-top: 25%; text-align: center; font-family: 'Exo 2'">BODYKIT for Lamborghini Urus</h2>
        <p class="lead" style="text-align: center; color: #8d949c; font-family: 'Exo 2'; font-style: italic; font-weight: 300;">
            The aerodynamic body kit consists of 42 parts.
            <br>The main and technologically complex elements are: the hood, rear bumper with diffuser, front bumper and large body kit with replacement front fenders.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img style=" border-radius: 7%;" src="/Images/HomeIMG/home_urus.jpg" width="100%" height="100%">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div >
        <h2 class="featurette-heading fw-normal lh-1" style="text-align: center; font-family: 'Exo 2'">About us</h2>
        <p class="lead" style="text-align: center; color: #8d949c; font-family: 'Exo 2'; font-style: italic; font-weight: 300;">
            <br>Ronaldo Performance is one of the world's leading companies in the field of restyling (tuning) of premium and luxury cars.

            <br>Ronaldo Performance began its journey into the multifaceted world of creativity - design and technology in the automotive industry in 2019.

            <br>Our team creates some of the most daring projects that become an integral part of the world of car tuning industry.

            <br>An individual approach to design, combined with modern technology, creates the unique style of Ronaldo Performance.

        </p>
    </div>
</div>
