@inherits ProductCategoriesNavMenuEnBase

@if(ProductCategoryDtos == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage = "@ErrorMessage"/>
}
else
{
    @foreach(var productCategory in ProductCategoryDtos)
    {
        var link = "/en/ProductsByCategory/" + productCategory.Id;
        
        <div class = "nav-item px-1">
            <NavLink class="nav-link" style="padding-inline: 10px" href="@link">
                @productCategory.NameEN
            </NavLink>
        </div>
    }
}