.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    .page header {
        position: absolute;
        background-color: transparent;
    }

header {
    height: 70px;
    width: 100%;
}

.navbar {
    top: 0;
    margin: auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: relative;
}

@media (max-width: 1300px) {
    .form-group {
        padding-inline: 40px !important;
    }

    .row {
        margin-right: -10px;
    }
}

@media (max-width: 768px) {
    .form-group {
        padding-inline: 20px !important;
    }

    .row {
        margin-right: -10px;
    }
}


@media (max-width: 560px) {
    .form-group {
        padding-inline: 20px !important;
    }

    .row {
        margin-right: -10px;
    }
}




