.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    .page header {
        position: absolute;
        background-color: transparent;
    }

header {
    height: 70px;
    width: 100%;
}

.navbar {
    top: 0;
    margin: auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: relative;
}

.update-qty{
    display: none;
}


.btn-info {

    color: papayawhip;
}

.btn-success{

    margin-top: 2%
}

    .block {
    border: 2px solid #3d3d3d;
    border-radius: 20px;
    margin-bottom: 5px;
    padding-top: 20px;
    margin-left: 3%;
}
